
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>
<button id="button1" class="btn btn-primary">Click</button>
<div class="alert alert-info" id="div1"></div>
<button id="button2" class="btn btn-primary">Click</button>
<div class="alert alert-info" id="div2"></div>

@section Styles{

}

@section Scripts{
    <script>
        const btn = document.querySelector('#button1');
        const myDiv = document.querySelector('#div1');
        btn.addEventListener('click',()=>{
            myDiv.innerHTML="Button Click"
        })

        const btn2 = document.querySelector('#button2');
        const myDiv2=document.querySelector('#div2');

        //步驟一，建立XMLHRequest物件
        const xhr= new XMLHttpRequest();

        btn2.addEventListener('click',()=>{
         //步驟二對伺服器發出要求(Request)
         xhr.open('GET', '/api/index');
         xhr.send();

         //步驟三接收伺服器回傳的資料
         xhr.addEventListener('load',()=>{
             const data = xhr.responseText
                //步驟四讀資料 JSON XML
                //步驟五顯示資料
                myDiv2.innerHTML=`<h3>${data}</h3>`

         })

        })

    </script>

}
