@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.Partial("Partial1")
    @Html.Partial("Partial2") @*有傳值進來時這樣無法顯示對應畫面*@
@*    @Html.Action("Partial2") core沒有支援action，也無法對應顯示畫面*@
</div>
<table id="empTable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>姓名</th>
            <th>年資</th>
            <th>薪水</th>
        </tr>
    </thead>
    <tbody id="workers">

    </tbody>
</table>

@section Styles{
    <style>
        p{
            background-color: yellow
        }
    </style>
}

@section Scripts{
    <script>
        
        //jquery改字樣
        $('.display-4').on('mouseover', function(){
            $(this).css('color','blue')
        }).on('mouseout',function(){
            $(this).css('color','black')
        })

        //emp=物件，employees=屬性
        //讀取JSON資料
        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        }

        console.log(emp.employees)

       for (let i =0; i<emp.employees.length; i++)
       {
           console.log(emp.employees[i].name)
           console.log(emp.employees[i].workYears)
           console.log(emp.employees[i].salary)
       }

       //顯示JSON資料，存進table中(JavaScript)
       //const datas = emp.employees.map((employee)=>{
       //    const {name, workYears, salary} = employee
       //    return(
       //        `<tr>
       //             <td>${name}</td>
       //             <td>${workYears}</td>
       //             <td>${salary}</td>
       //        </tr>
       //        `
       //    )
       // document.querySelector('#empTable>tbody').innerHTML = datas.join("")
       //})

        //顯示JSON資料，存進table中(JQuery寫法)
       $('#workers').html(emp.employees.map(employee=>
            `<tr>
                    <td>${employee.name}</td>
                    <td>${employee.workYears}</td>
                    <td>${employee.salary}</td>
            </tr>
            `
       ).join(""));

    </script>
}