
@{
    ViewData["Title"] = "Travel";
}

<h1>Travel</h1>
<div class="card" style="width: 18rem;" id="cc">
   
</div>

@section Styles{

}

@section Scripts{
    <script src="~\datas\travel.js"></script>
    <script>
        const DATAS= spots.CommonFormat.Section.map(x=>{
            const{stitle,xbody,xurl }=x
            return(
            `<div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">${stitle}</h5>
                             <p class="card-text">${xbody}</p>
                            <a href="${xurl}" class="btn btn-primary">更多介紹</a>
                 </div>
            </div>  
            `
           )
        })
        //console.log(DATAS)
        document.querySelector('#cc').innerHTML=DATAS.join("")
    </script>
}